@media (min-width:1000px) {
    .drawer {
        width : 35% !important ;
    }
}

.autosuggest-textarea__textarea
{
    height : 200px !important ;
}

.emoji-dialog {
    z-index : 1 !important  ;
    position : fixed !important ;
    top : 5% !important ;
    left : 0px !important ;
    margin-left : 25% !important ;
    height : 90% !important ;
}

.column {
    flex : 1 1 0 !important ;
}

.drawer__header
{
    position : absolute !important ;
    width : 31.5% !important ;
    left : 35.5% !important ;
    margin-left : 0em ;
}

.search
{
    position : absolute !important ;
    top : 60px !important ;
    width : 31.5% !important ;
    left : 35.5% !important ;
}

.column:nth-child(2) {
    overflow : visible ;
    width : 32.5% !important ;
    margin-top : 90px !important ;
}

.column:nth-child(3) {
    position : fixed !important ;
    top : 340px !important ;
    margin-top : 0px !important ;
    width : 35% !important ;
    height : 100% ;
    padding-left : 10px !important ;
}

/*
注意！　ニコニコ連携へのリンクを消す。
ニコニコ連携をしたいときは一度ユーザーCSSを無効化すること
*/
div.nico-connect-account {
    display : none !important ;
}

div.column-icon.collapsable + div {
    overflow : scroll !important ;
}

/* 画像を消す */
/* a {                                   */
/*     background : initial !important ; */
/* }                                     */
